body {
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 16px;
    background-color: #E3E3F3;
    line-height: 1.5;
    max-width: 850px;
    margin: 0 auto;
}

.line {
    white-space: pre;
}

.digit {
    width: 2em;
}

button {
    padding: 0.5em;
}
